# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EDU.SkillFactory.Unit6.Unit7.VW.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
